<app-loading-bar [reloading]="reloading()"/>
<div class="flex flex-col">
  <div class="flex px-2 pt-2">
    <form [formGroup]="form">
      <div class="flex items-start gap-3">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'REQUEST.Filter.Date' | translate }}</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="offerDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ 'REQUEST.Filter.VisitorStatus' | translate }}</mat-label>
          <mat-select formControlName="visitorGroupStatus">
            <mat-option>--</mat-option>
            @for (status of visitorStatus; track status) {
              <mat-option [value]="status">
                <app-visitor-status [status]="status"/>
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <lib-search label="REQUEST.Action.Search" (search)="search($event)"></lib-search>

        <button matMiniFab (click)="applyFilter()">
          <mat-icon>filter_alt</mat-icon>
        </button>
        @if (request()) {
          <button matMiniFab (click)="clearFilter()">
            <mat-icon>filter_alt_off</mat-icon>
          </button>
        }
      </div>
    </form>

    <div class="flex-1"></div>
    <button matFab [extended]="true" class="mt-1" routerLink="./create">
      <mat-icon>add_circle</mat-icon>
      {{ 'REQUEST.Action.Create' | translate }}
    </button>
  </div>

  <table mat-table [dataSource]="elements()">
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef>{{ 'REQUEST.Table.Timestamp' | translate }}</th>
      <td mat-cell *matCellDef="let row">{{ row.timestamp + 'Z' | date:'medium' }}</td>
    </ng-container>

    <ng-container matColumnDef="visitorGroup">
      <th mat-header-cell *matHeaderCellDef>
        <div class="flex items-center">
          <div>{{ 'REQUEST.Table.Visitor' | translate }}</div>
          <div class="flex-1"></div>
          <mat-slide-toggle [checked]="showVisitorDetails()" (change)="showVisitorDetailsChanged($event)"/>
        </div>
      </th>
      <td mat-cell *matCellDef="let row">
        <app-request-visitor-entry [data]="row.visitorGroup" [showDetails]="showVisitorDetails()"/>
      </td>
    </ng-container>

    <ng-container matColumnDef="bookings">
      <th mat-header-cell *matHeaderCellDef>{{ 'REQUEST.Table.Bookings' | translate }}</th>
      <td mat-cell *matCellDef="let row">
        <app-request-booking-entry [data]="row" (change)="handleEntryChanged()"/>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>{{ 'REQUEST.Status.Title' | translate }}</th>
      <td mat-cell *matCellDef="let row">
        <mat-chip>{{ 'REQUEST.Status.' + row.status | translate }}</mat-chip>
      </td>
    </ng-container>

    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        @if (row.comment.length > 0) {
          <button matIconButton color="primary" (click)="showNote(row)">
            <mat-icon>description</mat-icon>
          </button>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="cmd">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button matIconButton routerLink="./details/{{row.id}}">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-paginator
  [length]="totalElements"
  [pageSize]="pageSize"
  [pageIndex]="pageNumber"
  [pageSizeOptions]="[10, 25, 50, 100]"
  [disabled]="reloading()"
  showFirstLastButtons
  (page)="handlePageChange($event)"
>
</mat-paginator>
