<app-loading-bar [reloading]="reloading()"></app-loading-bar>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container mx-auto mt-5 max-w-2xl p-4">
  <div class="flex flex-col gap-4">

    <!-- Time From and Time To Row -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <mat-form-field appearance="fill" class="w-full dense-1" subscriptSizing="dynamic">
        <mat-label>{{ 'OFFER.Form.Range.TimeFrom' | translate }}</mat-label>
        <input matInput type="time" formControlName="timeFrom" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full dense-1" subscriptSizing="dynamic">
        <mat-label>{{ 'OFFER.Form.Range.TimeTo' | translate }}</mat-label>
        <input matInput type="time" formControlName="timeTo" required>
      </mat-form-field>
    </div>

    <!-- Duration -->
    <mat-form-field appearance="fill" class="w-full dense-1" subscriptSizing="dynamic">
      <mat-label>{{ 'OFFER.Series.Duration' | translate }}</mat-label>
      <input matInput type="number" formControlName="duration" required>
    </mat-form-field>


    <!-- Action Buttons -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
      <button matButton="filled" color="primary" type="submit" class="w-full">
        <mat-icon>save</mat-icon>
        {{ "ACTION.Save" | translate }}
      </button>

      <button matButton="outlined" color="warn" type="button" (click)="cancel()" class="w-full">
        <mat-icon>cancel</mat-icon>
        {{ 'ACTION.Cancel' | translate }}
      </button>
    </div>
  </div>
</form>
