<div class="flex items-center gap-3 w-full">
  <mat-icon class="h-12">calendar_today</mat-icon>
  <mat-form-field appearance="outline" subscriptSizing="dynamic" class="dense-3 w-full">
    <mat-label>{{ 'DASHBOARD.WeekSelector.SelectWeek' | translate }}</mat-label>
    <mat-select [(value)]="selectedWeek" (selectionChange)="handleWeekSelection($event.value)">
      @for (week of weekSummary(); track week) {
        <mat-option [value]="week">
          {{ 'DASHBOARD.WeekSelector.Week' | translate }} {{ week.weekNumber }}
          : {{ week.startDate | date:'shortDate' }}
          - {{ week.endDate | date:'shortDate' }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
