<mat-card>
  <div class="flex items-center gap-3 p-4 pb-0">
    <h4 class="text-lg font-medium flex-1">{{ 'REQUEST.Form.Comment.Label' | translate }}</h4>
    <button matIconButton (click)="edit()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div class="flex flex-col gap-3 p-4 pt-0">
    @switch (editCommentStatus()) {
      @case ('updating') {
        <mat-progress-bar></mat-progress-bar>
      }
      @case ('edit') {
        <mat-form-field appearance="fill" class="flex-1">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput [value]="comment()" #commentInput></textarea>
        </mat-form-field>
        <div class="flex gap-3">
          <button matButton="filled" color="warn" (click)="cancel()">
            <mat-icon>cancel</mat-icon>
            {{ 'ACTIONS.Cancel' | translate }}
          </button>
          <button matButton="filled" color="primary" (click)="save(commentInput.value)">
            <mat-icon>save</mat-icon>
            {{ 'ACTIONS.Save' | translate }}
          </button>
        </div>
      }
      @default {
        @if (data().comment.length > 0) {
          <div class="bg-gray-100 dark:bg-gray-800 p-3 rounded">
            {{ data().comment }}
          </div>
        }
      }
    }
  </div>
</mat-card>
