<div class="flex items-center gap-3">
  <div class="flex-1">
    <div>{{ title() }}</div>
    <div>{{ contact() }}</div>
  </div>
  @if (showDetails()) {
    <div class="flex items-center gap-3 flex-1">
      <div class="flex-1">
        <app-group-status [status]="status()"/>
      </div>
      <div class="w-16">
        @if (confirming()) {
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        } @else if (status() !== 'CONFIRMED') {
          <button matIconButton (click)="confirm()" color="accent">
            <mat-icon>mark_email_read</mat-icon>
          </button>
        }
      </div>
    </div>
  }
  <div>
    <button matIconButton (click)="showDetailsDialog()" color="primary">
      <mat-icon>info_outline</mat-icon>
    </button>
  </div>
</div>
