<!--<h2 mat-dialog-title>{{ title | translate }}</h2>-->
<!--<mat-dialog-content>-->
<!--  &lt;!&ndash; SELECTED BOOKING INFO &ndash;&gt;-->
<!--  <div class="bg-gray-100 dark:bg-gray-800 p-3 rounded mb-3">-->
<!--    <div class="flex flex-col gap-3">-->
<!--      <div class="flex gap-3">-->
<!--        <div class="w-48 font-medium">{{ 'REQUEST.Dialog.Confirm.Info.Start' | translate }}</div>-->
<!--        <div>{{ data.selectedBooking.offer.start | date:'medium' }}</div>-->
<!--      </div>-->
<!--      <div class="flex gap-3">-->
<!--        <div class="w-48 font-medium">{{ 'REQUEST.Dialog.Confirm.Info.Size' | translate }}</div>-->
<!--        <div>{{ data.info.visitor.size }}</div>-->
<!--      </div>-->
<!--      <div class="flex gap-3">-->
<!--        <div class="w-48 font-medium">{{ 'REQUEST.Dialog.Confirm.Info.Space' | translate }}</div>-->
<!--        <div>{{ data.selectedBooking.spaceAvailable }}</div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  @if (data.info.comment.length > 0) {-->
<!--    <div class="bg-blue-50 dark:bg-blue-900/20 p-3 rounded mb-3">-->
<!--      <div class="flex gap-3">-->
<!--        <div class="w-48 font-medium">{{ 'REQUEST.Dialog.Confirm.Info.Comment' | translate }}</div>-->
<!--        <div>{{ data.info.comment }}</div>-->
<!--      </div>-->
<!--    </div>-->
<!--  }-->
<!--  @if (loading) {-->
<!--    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>-->
<!--  }-->
<!--  @if (response) {-->
<!--    <form [formGroup]="fg">-->
<!--      <div class="flex flex-col">-->
<!--        <mat-form-field appearance="fill">-->
<!--          <mat-label>{{ 'REQUEST.Dialog.Confirm.Form.Subject' | translate }}</mat-label>-->
<!--          <input matInput type="text" formControlName="subject">-->
<!--        </mat-form-field>-->
<!--        <quill-editor formControlName="content" placeholder="Enter Text" class="pb-3"></quill-editor>-->
<!--        <mat-slide-toggle formControlName="silent">-->
<!--          {{ 'REQUEST.Dialog.Confirm.Form.Silent' | translate }}-->
<!--        </mat-slide-toggle>-->
<!--      </div>-->
<!--    </form>-->
<!--  }-->
<!--</mat-dialog-content>-->
<!--<mat-dialog-actions align="end">-->
<!--  <button matButton="filled" color="primary" (click)="onConfirmClick()">-->
<!--    <mat-icon>check</mat-icon>-->
<!--    {{ confirm | translate }}-->
<!--  </button>-->
<!--  <button matButton="filled" color="warn" (click)="onCancelClick()">-->
<!--    <mat-icon>cancel</mat-icon>-->
<!--    {{ "ACTION.Cancel" | translate }}-->
<!--  </button>-->
<!--</mat-dialog-actions>-->
