<mat-toolbar class="h-20 sm:h-24 px-4 sm:px-6 primary">
  <div class="flex w-full items-center">

    @if (service.isHandset()) {
      <button mat-icon-button routerLink="/" aria-label="Home" class="mr-2">
        <mat-icon>home</mat-icon>
      </button>
    } @else {
      <button mat-button routerLink="/" aria-label="Go to home page"
              class="font-semibold text-lg hover:bg-primary/10 transition-colors duration-150">
        <mat-icon class="mr-2">home</mat-icon>
        <span>{{ 'MENU.Home' | translate }}</span>
      </button>
    }

    <div class="grow"></div>

    <h3 class="text-xl sm:text-2xl font-normal text-on-primary-container/90 px-4 truncate">
      {{ service.title() | translate }}
    </h3>

    <div class="grow"></div>

    @if (service.isHandset()) {
      <button mat-icon-button [matMenuTriggerFor]="mainmenu" aria-label="Open main menu" class="ml-2">
        <mat-icon>more_vert</mat-icon>
      </button>
    } @else {
      <button mat-button [matMenuTriggerFor]="mainmenu" aria-label="Open main menu"
              class="font-medium hover:bg-primary/10 transition-colors duration-150">
        <mat-icon class="mr-2">more_vert</mat-icon>
        <span>{{ 'MENU.Title' | translate }}</span>
      </button>
    }

  </div>
</mat-toolbar>

<mat-menu #mainmenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="langmenu" class="h-12">
    <mat-icon>language</mat-icon>
    <span class="ml-3 font-medium">{{ 'MENU.Language' | translate }}</span>
  </button>

  <button mat-menu-item (click)="showHelp()" class="h-12">
    <mat-icon>help</mat-icon>
    <span class="ml-3 font-medium">{{ 'MENU.Help' | translate }}</span>
  </button>
</mat-menu>


<mat-menu #langmenu="matMenu">
  <button mat-menu-item (click)="service.setLanguage('en')" class="h-12">
    @if (service.lang() === 'en') {
      <mat-icon class="mr-3">check</mat-icon>
    }
    <span @else class="w-[24px] mr-3"></span>
    <span class="font-normal">{{ 'LANG.English' | translate }}</span>
  </button>
  <button mat-menu-item (click)="service.setLanguage('de')" class="h-12">
    @if (service.lang() === 'de') {
      <mat-icon class="mr-3">check</mat-icon>
    }
    <span @else class="w-[24px] mr-3"></span>
    <span class="font-normal">{{ 'LANG.German' | translate }}</span>
  </button>
</mat-menu>
