<div class="px-6 pt-6 text-lg">
  <div class="flex justify-between">
    <span>{{ 'BOOKING.Dialog.Create.Title'|translate }}</span>
    <span class="flex items-center gap-1 px-2 py-1 rounded bg-gray-200">
    <mat-icon class="!text-sm" inline>schedule</mat-icon>
      {{ data.offer.offer.start | date:'shortTime' }} - {{ data.offer.offer.finish | date:'shortTime' }}
    </span>
  </div>
</div>
<div class="mat-typography h-full px-6 py-4">
  <app-booking-create [offer]="data.offer.offer" [assignment]="data.assignment" (completed)="close()" #form/>
</div>
<mat-dialog-actions align="end">
  <button mat-dialog-close matButton="outlined">
    <mat-icon>cancel</mat-icon>
    {{ 'ACTION.Cancel' | translate }}
  </button>
  <button matButton="filled" [disabled]="!form.form.valid || form.processing()" (click)="form.onSubmit()">
    @if (form.processing()) {
      <mat-icon>
        <mat-spinner diameter="18"></mat-spinner>
      </mat-icon>
    } @else {
      <mat-icon>save</mat-icon>
    }
    {{ 'ACTION.Submit' | translate }}
  </button>
</mat-dialog-actions>
