<div class="container mx-auto max-w-[1600px] px-4 sm:px-6 lg:px-8 py-4 sm:py-6 lg:py-8">

  <mat-card>
    <form [formGroup]="form" class="flex flex-col gap-4 p-4">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>{{ 'REQUEST.Form.Title.Label' | translate }}</mat-label>
        <input matInput type="text" formControlName="title">
        <mat-hint align="start">{{ 'REQUEST.Form.Title.Hint' | translate }}</mat-hint>
      </mat-form-field>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>{{ 'REQUEST.Form.Size.Label' | translate }}</mat-label>
          <input matInput type="number" formControlName="size" [disabled]="groupBookingSelected"
                 [placeholder]="spacePlaceholder()">
          <mat-hint align="start">{{ 'REQUEST.Form.Size.Hint' | translate }}</mat-hint>

          @if (size?.hasError('min')) {
            <mat-error>
              {{ 'REQUEST.Form.Size.Error.Min' | translate }}
            </mat-error>
          }
          @if (size?.hasError('max')) {
            <mat-error>
              {{ 'REQUEST.Form.Size.Error.Max' | translate }}
            </mat-error>
          }
        </mat-form-field>

        @if (groupBookingPossible()) {
          <div class="flex items-center">
            <mat-slide-toggle formControlName="group" (change)="handleGroupBookingChange($event)">
              {{ 'REQUEST.Form.School.Label' | translate }}
            </mat-slide-toggle>
          </div>
        }
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>{{ 'REQUEST.Form.MinAge.Label' | translate }}</mat-label>
          <input matInput type="number" formControlName="minAge">
          <mat-hint align="start">{{ 'REQUEST.Form.MinAge.Hint' | translate }}</mat-hint>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>{{ 'REQUEST.Form.MaxAge.Label' | translate }}</mat-label>
          <input matInput type="number" formControlName="maxAge">
          <mat-hint align="start">{{ 'REQUEST.Form.MaxAge.Hint' | translate }}</mat-hint>
        </mat-form-field>
      </div>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>{{ 'REQUEST.Form.Contact.Label' | translate }}</mat-label>
        <input matInput type="text" formControlName="contact">
        <mat-hint align="start">{{ 'REQUEST.Form.Contact.Hint' | translate }}</mat-hint>
      </mat-form-field>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>{{ 'REQUEST.Form.Street.Label' | translate }}</mat-label>
        <input matInput type="text" formControlName="street">
      </mat-form-field>

      <div class="grid grid-cols-3 gap-4">
        <mat-form-field class="col-span-1" appearance="fill">
          <mat-label>{{ 'REQUEST.Form.Zip.Label' | translate }}</mat-label>
          <input matInput type="text" formControlName="zip">
        </mat-form-field>
        <mat-form-field class="col-span-2" appearance="fill">
          <mat-label>{{ 'REQUEST.Form.City.Label' | translate }}</mat-label>
          <input matInput type="text" formControlName="city">
        </mat-form-field>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>{{ 'REQUEST.Form.Phone.Label' | translate }}</mat-label>
          <input matInput type="text" formControlName="phone">
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>{{ 'REQUEST.Form.Mail.Label' | translate }}</mat-label>
          <input matInput type="email" formControlName="mail" email>
        </mat-form-field>
      </div>

      <div class="flex flex-col md:flex-row items-start md:items-center justify-between gap-3">
        <mat-slide-toggle formControlName="termsAndConditions" class="flex-grow">
          {{ 'REQUEST.Form.TermsAndConditions.Label' | translate }}
        </mat-slide-toggle>
        <div>
          <button mat-stroked-button (click)="showTermsAndConditions()" color="primary">
            <mat-icon>attach_file</mat-icon>
            {{ 'REQUEST.Form.TermsAndConditions.Show' | translate }}
          </button>
        </div>
      </div>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>{{ 'REQUEST.Form.Comment.Label' | translate }}</mat-label>
        <textarea matInput formControlName="comment"></textarea>
        <mat-hint align="start">{{ 'REQUEST.Form.Comment.Hint' | translate }}</mat-hint>
      </mat-form-field>

      <div class="flex flex-row gap-3 pt-2">
        <button mat-flat-button color="primary" (click)="submit()" [disabled]="form.invalid">
          <mat-icon>check</mat-icon>
          {{ 'REQUEST.Action.Submit' | translate }}
        </button>
      </div>
    </form>
  </mat-card>
</div>
