@if (appService.isHandset()) {
  <button
    matIconButton
    [matBadge]="cartCount()"
    [matBadgeHidden]="cartCount() === 0"
    matBadgeColor="accent"
    (click)="openCart()"
    class="flex-shrink-0"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
} @else {
  <button matButton="outlined" [matBadge]="cartCount()"
          [matBadgeHidden]="cartCount() === 0"
          matBadgeColor="accent"
          (click)="openCart()"
          class="flex-shrink-0">
    <mat-icon>shopping_cart</mat-icon>
    {{ 'MENU.Cart' | translate }}
  </button>
}
