<h1 mat-dialog-title>
  {{ "OFFER.Dialog.Delete.Title" | translate:data }}
</h1>
<div mat-dialog-content>
  <p>{{ "OFFER.Dialog.Delete.Question" | translate:data }}</p>
</div>
<div mat-dialog-actions>
  <button matButton="filled" color="primary" (click)="onYesClick()">
    <mat-icon>check</mat-icon>
    {{ "ACTION.Yes" | translate }}
  </button>
  <button matButton="outlined" color="warn" (click)="onNoClick()">
    <mat-icon>cancel</mat-icon>
    {{ "ACTION.No" | translate }}
  </button>
</div>
