<div class="flex flex-col h-[calc(100vh-120px)] min-h-0">
  <app-dashboard-summary
    [reloading]="summaryReloading()"
    [weekSummary]="summary()"
    [selectedWeek]="selectedWeek()"
    [selectedDay]="selectedDay()"
    (selectionDayChanged)="handleDaySelection($event)"
    (selectionWeekChanged)="handleWeekSelection($event)"
  />
  <app-dashboard-filter
    [availableGuides]="availableGuides()"
    (filterChange)="handleFilterChanged($event)"
  />
  <div class="flex-1 overflow-auto min-h-0">
    <app-dashboard-content
      [reloading]="contentReloading()"
      [content]="content()"
      (clearFilter)="clearFilter()"
      (confirmReservation)="handleReservationConfirmation($event)"
    />
  </div>
</div>
