<mat-card>
  <div class="flex flex-col p-4 pb-0">
    <div class="flex items-center">
      <h4 class="text-lg font-medium w-48">{{ 'REQUEST.Table.Visitor' | translate }}</h4>
      <div class="flex-1"></div>
      <button matIconButton (click)="editMode.set(true)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
  <div class="flex flex-col gap-3 p-4 pt-0">
    @if (changing()) {
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    } @else if (editMode()) {
      <app-visitor-change [data]="data().visitor" (changeEvent)="handleGroupChange($event)"/>
    } @else {
      <app-visitor-info [data]="data().visitor"/>
    }
  </div>
</mat-card>
