@use '@angular/material' as mat;

@include mat.core();

// Define light theme
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$green-palette,
  )
));

// Define dark theme
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$green-palette,
  ),
));

// Apply light theme by default
html {
  @include mat.all-component-themes($light-theme);
  @include mat.all-component-typographies($light-theme);

  // Light theme colors
  --mat-sys-primary: #1565c0;
  --mat-sys-on-primary: #ffffff;
  --mat-sys-primary-container: #d3e4ff;
  --mat-sys-on-primary-container: #001d35;

  --mat-sys-tertiary: #6a1b9a;
  --mat-sys-on-tertiary: #ffffff;
  --mat-sys-tertiary-container: #e1e2ec;
  --mat-sys-on-tertiary-container: #1f0033;

  --mat-sys-error: #ba1a1a;
  --mat-sys-on-error: #ffffff;
  --mat-sys-error-container: #ffdad6;
  --mat-sys-on-error-container: #410002;

  --mat-app-background-color: #ffffff;
}

// Dark theme
html.dark-theme {
  @include mat.all-component-colors($dark-theme);

  // Dark theme colors
  --mat-sys-primary: #a8cbff;
  --mat-sys-on-primary: #003060;
  --mat-sys-primary-container: #004a82;
  --mat-sys-on-primary-container: #d3e4ff;

  --mat-sys-tertiary: #d588f7;
  --mat-sys-on-tertiary: #3d0061;
  --mat-sys-tertiary-container: #5a007e;
  --mat-sys-on-tertiary-container: #f0b9ff;

  --mat-sys-error: #ffb4ab;
  --mat-sys-on-error: #690005;
  --mat-sys-error-container: #93000a;
  --mat-sys-on-error-container: #ffdad6;

  --mat-app-background-color: #1a1c1e;
}

/* Fix M3 date-range vertical alignment */
.mat-mdc-form-field,
.mat-date-range-input-container,
.mdc-text-field__input {
  line-height: 1.5 !important;
}

/* Fix mirror span used for width calculation */
.mat-mdc-form-field,
.mat-date-range-input-mirror {
  font: inherit !important;
  line-height: 1.5 !important;
  height: auto !important;
}

.dense-1 {
  @include mat.all-component-densities(-1)
}

.dense-2 {
  @include mat.all-component-densities(-2)
}

.dense-3 {
  @include mat.all-component-densities(-3)
}
