<app-main-content
  [title]="'MENU.Booking' | translate"
  searchLabel="BOOKING.Action.Search"
  [enableSearch]="true"
  (search)="handleSearch($event)"
>
  <div class="flex gap-2 flex-auto items-center" actions>
    @if (debug()) {
      <div class="bg-amber-100 border-amber-400 border rounded px-2 py-1">
        <span class="font-mono text-xs break-words whitespace-pre-wrap">{{ request() | json }}</span>
      </div>
    }
    <button matIconButton (click)="reload()">
      @if (reloading()) {
        <mat-spinner [diameter]="18"></mat-spinner>
      } @else {
        <mat-icon class="!text-gray-800">refresh</mat-icon>
      }
    </button>
  </div>

  <app-booking-content
    [entries]="entries()"
    [reloading]="reloading()"
    (reload)="reload()"
    [currentUserId]="authService.currentUserId() ?? ''"
    [isSearchActive]="isSearchActive()"
    (selectionWeekChanged)="handleSelectionWeekChanged($event)"
    (selectionDayChanged)="handleSelectionDayChanged($event)"
    class="p-4"
  >
  </app-booking-content>

  <!-- Paginator -->
  <mat-paginator
    footer
    [length]="totalElements()"
    [pageSize]="pageSize()"
    [pageIndex]="pageNumber()"
    [pageSizeOptions]="[10, 25, 50, 100]"
    [showFirstLastButtons]="true"
    [disabled]="reloading()"
    (page)="handlePageChange($event)">
  </mat-paginator>
</app-main-content>
