<app-loading-bar [reloading]="reloading()"/>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="max-w-xl mx-auto mt-12 flex flex-col gap-4">

  <mat-form-field appearance="fill">
    <mat-label>{{ 'LABEL.Field.Name' | translate }}</mat-label>
    <input matInput formControlName="name"/>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{ 'LABEL.Field.Color' | translate }}</mat-label>
    <input matInput type="color" formControlName="color"/>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{ 'LABEL.Field.Priority' | translate }}</mat-label>
    <input matInput formControlName="priority" type="number"/>
  </mat-form-field>


  <div class="flex gap-3">
    <button mat-raised-button color="primary" type="submit" class="flex-1">
      <mat-icon>save</mat-icon>
      {{ 'ACTION.Save' | translate }}
    </button>

    <button mat-stroked-button color="warn" type="button"
            (click)="cancel()" class="flex-1">
      <mat-icon>cancel</mat-icon>
      {{ 'ACTION.Cancel' | translate }}
    </button>
  </div>

</form>
