<app-loading-bar [reloading]="reloading()"/>
<div class="flex flex-col">
  <div class="flex items-center gap-3 py-2 mat-elevation-z2">
    <button matIconButton (click)="back()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <!--    <button matButton="outlined">-->
    <!--      <mat-icon>playlist_add</mat-icon>-->
    <!--      {{'REQUEST.Action.ChangeOffer' | translate}}</button>-->
  </div>
  <div class="flex gap-3 p-2">
    @if (data()) {
      <div class="flex flex-col gap-3 w-5/12">
        <app-booking-details-visitor-group [data]="data()!!" (requestReload)="reload()"/>
      </div>
      <div class="flex flex-col gap-3 flex-1">
        <app-booking-details-header [data]="data()!!"/>
        <app-booking-details-content [data]="data()!!" (change)="reload()"/>
        <app-booking-details-comment [data]="data()!!" (change)="reload()"/>
      </div>
    }
  </div>
</div>
