<mat-sidenav-container class="h-screen w-full">
  <!-- Side Navigation -->
  <mat-sidenav #drawer
               [attr.role]="service.isHandset() ? 'dialog' : 'navigation'"
               [mode]="service.isHandset() ? 'over' : 'side'"
               [opened]="!service.isHandset()"
               class="w-64 !bg-gray-200 mb-1.5 flex flex-col h-[calc(100vh-120px)] min-h-0">
    <app-admin-menu/>
  </mat-sidenav>

  <!-- Scrollable Content -->
  <mat-sidenav-content class="flex flex-col h-full">
    <div class="container px-4 mx-auto flex-1 min-h-0">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
