.active-nav-link {
  background-color: var(--mat-sys-primary-container) !important;
  color: var(--mat-sys-on-primary-container) !important;

  mat-icon {
    color: var(--mat-sys-on-primary-container) !important;
  }
}
