<app-main-content [title]="'MENU.Settings' | translate">
  <app-loading-bar [reloading]="reloading()"/>


  <table mat-table [dataSource]="entries()">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>{{ 'SETTING.Field.Id' | translate }}</th>
      <td mat-cell *matCellDef="let setting">{{ setting.id }}</td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>{{ 'SETTING.Field.Value' | translate }}</th>
      <td mat-cell *matCellDef="let setting">{{ setting.value }}</td>
    </ng-container>

    <ng-container matColumnDef="key">
      <th mat-header-cell *matHeaderCellDef>{{ 'SETTING.Field.Key' | translate }}</th>
      <td mat-cell *matCellDef="let setting">{{ setting.key }}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>{{ 'SETTING.Field.Type' | translate }}</th>
      <td mat-cell *matCellDef="let setting">{{ setting.type }}</td>
    </ng-container>

    <ng-container matColumnDef="cmd">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let setting" class="cmd-cell">
        <button matIconButton routerLink="./edit/{{setting.id}}">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageIndex]="pageNumber"
    [pageSizeOptions]="[10, 25, 50, 100]"
    showFirstLastButtons [disabled]="reloading"
    (page)="handlePageChange($event)"
  >
  </mat-paginator>
</app-main-content>
